
<!-- we do not use it -->

<div class="cart-modal-container">
  <div class="cart-modal">
    <h2 class="modal-h">Please type your Phone</h2>
	<div class="default-text-field-container">
         <input class="text-field" type="text" id="reg-phone" placeholder="Phone">
         <i class="success-icon fa fa-check" aria-hidden="true"></i>
         <i class="error-icon fa fa-times" aria-hidden="true"></i>
     </div>
     <button class="standart-btn">Submit</button>
    <p class="form-error" id="form-error">Need more hereQ</p>
  </div>
</div>