<div class="photo-block-container">
	<div class="container">
		<h2 class="photo-block-h">Open Positions</h2>
	</div>
</div>

<div class="positions-list-container container">
	<h2 class="positions-h">Open Positions</h2>
	<ul class="standart-list">
		<li><a href="" class="position-link">
			Engineer, Quality Assurance
		</a></li>
		<li><a href="" class="position-link">
			Engineer, Quality Assurance
		</a></li>
		<li><a href="" class="position-link">
			Engineer, Quality Assurance
		</a></li>
	</ul>
</div>
