<form action="/api/seller/add" method="post">
	
	<input type="text" name=seller_add[first_name] placeholder='first_name' /><br> 
	<input type="text" name='seller_add[last_name]' placeholder='last_name' /><br>
	<input type="number" name='seller_add[phone]' placeholder='phone' /><br>
	<input type="text" name='seller_add[adres]' placeholder='adres' /><br>
-   <input type="text" name='seller_add[brand]' placeholder='brand' /><br>
-	<input type="text" name='seller_add[model]' placeholder='model' /><br>
-	<input type="text" name='seller_add[condition]' placeholder='condition' /><br>
-	<input type="text" name='seller_add[reference]' placeholder='referenc' /><br>
-	<input type="number" name='seller_add[year]' placeholder='year' /><br>
-	<input type="text" name='seller_add[content]' placeholder='content' /><br>
	<input type="text" name='seller_add[images]' placeholder='images' /><br>
-	<input type="text" name='seller_add[comment]' placeholder='content' /><br>
	<input type="text" name='seller_add[period]' placeholder='period' /><br>

	<input type="submit" value="send">

</form>
<script src="//ulogin.ru/js/ulogin.js"></script>
<div id="uLogin" data-ulogin="display=small;fields=first_name,last_name;providers=facebook,googleplus,linkedin;hidden=other;redirect_uri=http%3A%2F%2Fwatchr.42team.ru"></div>

