<!-- SINGLE PRODUCT BLOCK START -->
  <!-- PRODUCT MAIN INFO BLOCK START -->
      <div class="product-main-info-block container cleafix">
        <div class="product-main-info-block_images-block">
          <h3 class="single-product-h hidden-on-desktop">Rolex Explorer Stainless Steel Black Index Dial Smooth Bezel Oyster Band 36mm</h3>
          <div class="big-product-img-container">
            <span class="watch-brend">ROLEX</span>
            <div class="big-img-container">
              <img class="big-product-img" src="../../img/productBig.jpg" alt="">
            </div>
            <div class="big-product-img-details clearfix">
              <span class="available-label">Not Available</span>
              <i class="product-favorite-btn fa fa-heart-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="little-imgs-slider clearfix">
            <div class="little-img-item">
              <img src="../../img/productSmallest.jpg" alt="" class="smallest-product-img">               
            </div>
            <div class="little-img-item">
              <img src="../../img/productSmallest.jpg" alt="" class="smallest-product-img">               
            </div>
            <div class="little-img-item no-right-margin">
              <img src="../../img/productSmallest.jpg" alt="" class="smallest-product-img">               
            </div>
            <div class="little-img-item hidden-on-mobile">
              <img src="../../img/productSmallest.jpg" alt="" class="smallest-product-img">               
            </div>
            <div class="little-img-item hidden-on-mobile">
              <img src="../../img/productSmallest.jpg" alt="" class="smallest-product-img">               
            </div>
            <div class="little-img-item hidden-on-mobile no-right-margin">
              <img src="../../img/productSmallest.jpg" alt="" class="smallest-product-img">
            </div>
            <span class="little-imgs-slider_btn little-imgs-slider_btn_prev"><</span>
            <span class="little-imgs-slider_btn little-imgs-slider_btn_next">></span> 
          </div>
        </div>
        <div class="product-main-info-block_text-block">
          <h3 class="single-product-h hidden-on-mobile" data-grey-text="Rolex Explorer">Rolex Explorer Stainless Steel Black Index Dial Smooth Bezel Oyster Band 36mm</h3>
          <span class="single-product-price">£5599,99</span>
          <p class="single-product-description">Pre-Owned Men's Rolex Explorer Steel , Features a Black color Index dial, smooth bezel and Oyster Stainless Steel band. This watch has been serviced and professionally polished. The watch is in excellent condition and working order. We provide a complementary 2 year warranty covering the movement.</p>
          <button class="standart-btn">Add to Cart</button>
          <div class="extras-container clearfix">
            <span class="extras-item text-al_left"><i class="extras-item_icon fa fa-check" aria-hidden="true"></i>14 Day Return Policy</span>
            <span class="extras-item text-al_center"><i class="extras-item_icon fa fa-check" aria-hidden="true"></i>100% Original</span>
            <span class="extras-item text-al_right no-right-margin"><i class="extras-item_icon fa fa-check" aria-hidden="true"></i>24 Months Warranty</span>
          </div>
        </div>
      </div>
  <!-- PRODUCT MAIN INFO BLOCK END -->
  <!-- PRODUCT SECONDARY INFO BLOCK START -->
      <div class="product-secondary-info-block container clearfix">
        <div class="basic-info-block">
          <h4 class="basic-info-h">Basic Info</h4>
          <ul class="basic-info-list standart-list">
            <li class="basic-info-list_item clearfix">
              <span class="info-item-name">Ref.No.</span>
              <span class="info-item-desc">16570</span>
            </li>
            <li class="basic-info-list_item clearfix">
              <span class="info-item-name">Ref.No.</span>
              <span class="info-item-desc">16570</span>
            </li>
            <li class="basic-info-list_item clearfix">
              <span class="info-item-name">Ref.No.</span>
              <span class="info-item-desc">16570</span>
            </li>
            <li class="basic-info-list_item clearfix">
              <span class="info-item-name">Ref.No.</span>
              <span class="info-item-desc">16570</span>
            </li>
            <li class="basic-info-list_item clearfix">
              <span class="info-item-name">Ref.No.</span>
              <span class="info-item-desc">16570</span>
            </li>
            <li class="basic-info-list_item clearfix">
              <span class="info-item-name">Ref.No.</span>
              <span class="info-item-desc">16570</span>
            </li>
            <li class="basic-info-list_item clearfix">
              <span class="info-item-name">Ref.No.</span>
              <span class="info-item-desc">16570</span>
            </li>
          </ul>
          <div class="comments-block">
            <h4 class="basic-info-h">Comments</h4>
            <span class="comments-item">Rolex Explorer II 904L Stainless steeL- 40mm Stainless Steel Case</span>
            <a class="comments-item comments-item_link">sales@goldajewelry.com </a>
            <a class="comments-item comments-item_link">www.goldajewelry.com</a>
            <span class="comments-item">212 730 50 54</span>
          </div>
        </div>
        <div class="certified-block">
          <img src="../../img/spec-avatar.jpg" alt="" class="certified-img">
          <br>
          <span class="certified-h">This timepiece has been WatchR-certified by</span>
          <span class="certified-name">Danny Mc’Ulla</span>
          <span class="sertified-details">
            <i class="sertified-details_icon fa fa-check" aria-hidden="true"></i>
            Certified watch-master since 2000
          </span>
          <span class="sertified-details">
            <i class="sertified-details_icon fa fa-comments" aria-hidden="true"></i>
            A smooth sea never made a skillful sailor
          </span>
          <a href="" class="standart-btn standart-btn_margin-top">Questions? Ask me!</a>
        </div>
      </div>
  <!-- PRODUCT SECONDARY INFO BLOCK END -->
<!-- SINGLE PRODUCT BLOCK END -->

<!-- SLIDER BLOCK START -->
<div class="container-fluid watches-slider-block watches-slider-block_single-p-page">
  <div class="container">
    <h3 class="secondary-h">Similar Watches</h3>
    <div class="watches-slides-container" id="watches-slider">
      <div class="watch-slide watch-slide_hover-btn">
        <span class="watch-brend">ROLEX</span>
        <img src="../../img/productMiddle.jpg" alt="" class="watch-image">
        <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
        <span class="watch-price">£399,99</span>
        <button class="standart-btn">Buy Now</button>
      </div>
      <div class="watch-slide watch-slide_hover-btn">
        <span class="watch-brend">ROLEX</span>
        <img src="../../img/productMiddle.jpg" alt="" class="watch-image">
        <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
        <span class="watch-price">£399,99</span>
        <button class="standart-btn">Buy Now</button>
      </div>
      <div class="watch-slide watch-slide_hover-btn">
        <span class="watch-brend">ROLEX</span>
        <img src="../../img/productMiddle.jpg" alt="" class="watch-image">
        <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
        <span class="watch-price">£399,99</span>
        <button class="standart-btn">Buy Now</button>
      </div>
      <div class="watch-slide watch-slide_hover-btn">
        <span class="watch-brend">ROLEX</span>
        <img src="../../img/productMiddle.jpg" alt="" class="watch-image">
        <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
        <span class="watch-price">£399,99</span>
        <button class="standart-btn">Buy Now</button>
      </div>
      <div class="watch-slide watch-slide_hover-btn">
        <span class="watch-brend">ROLEX</span>
        <img src="../../img/productMiddle.jpg" alt="" class="watch-image">
        <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
        <span class="watch-price">£399,99</span>
        <button class="standart-btn">Buy Now</button>
      </div>
      <div class="watch-slide watch-slide_hover-btn">
        <span class="watch-brend">ROLEX</span>
        <img src="../../img/productMiddle.jpg" alt="" class="watch-image">
        <span class="watch-name">Oyster Perpetual - Boxed with Papers from 2009</span>
        <span class="watch-price">£399,99</span>
        <button class="standart-btn">Buy Now</button>
      </div>
    </div>
  </div>
</div>
<!-- SLIDER BLOCK END -->

<!-- FACTS BLOCK START -->
<div class="container-fluid seller-facts-container">
  <div class="container">
    <div class="fact-item fact-item_1">
      <i class="fact-icon fa fa-check" aria-hidden="true"></i>
      <span class="fact-h">Inspected</span>
      <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
    </div>
    <div class="fact-item fact-item_2">
      <i class="fact-icon fa fa-truck" aria-hidden="true"></i>
      <span class="fact-h">Inspected</span>
      <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
    </div>
    <div class="fact-item fact-item_3">
      <i class="fact-icon fa fa-thumbs-up" aria-hidden="true"></i>
      <span class="fact-h">Inspected</span>
      <p class="fact-text">All our watch watches have been inspected and authenticated by our certified watch-masters.</p>
    </div>
  </div>
</div>
<!-- FACTS BLOCK END -->


<!-- SELLERS REVIEW BLOCK START -->
<div class="container-fluid cust-rev-container">
  <div class="container relative-for-counter">
    <h3 class="secondary-h">What sellers are saying</h3>
    <div class="sell-rev-slider slider-little-nav" id="sell-rev-slider">
      <div class="sell-rev-item clearfix">
        <div class="sell-rev-img hidden-on-mobile"><img src="../../img/sell-rev-img.jpg" alt="Customer Photo"></div>
        <p class="sell-rev-text">Curabitur sit amet lorem lacinia, rhoncus libero nec, maximus, commodo tellus eu viverra auctor nam.
        <br>
        <span class="sell-rev-name">Miranda Monroe</span></p>
      </div>
      <div class="sell-rev-item clearfix">
        <div class="sell-rev-img hidden-on-mobile"><img src="../../img/sell-rev-img.jpg" alt="Customer Photo"></div>
        <p class="sell-rev-text">Curabitur sit amet lorem lacinia, rhoncus libero nec, maximus, commodo tellus eu viverra auctor nam.
        <br>
        <span class="sell-rev-name">Miranda Monroe</span></p>
      </div>
    </div>
    <div class="slider-counter hidden-on-desktop">
      <span class="current-rev currentItem"></span>
      /
      <span class="revs-count owlItems"></span></span>
    </div>
  </div>
</div>
<!-- SELLERS REVIEW BLOCK END -->


