


    <div class="main-header shopping-cart-header container-fluid">
        
      <ng-include src="'views/global/header-elements.html'"></ng-include>

      <ng-include src="'views/global/header-only-h3.html'"></ng-include>

    </div>



<!--
    START <ng-include src="'main-content.html'"></ng-include>
-->  
<div class="done-steps-container container">
	<i class="done-steps-icon fa fa-check-circle" aria-hidden="true"></i>
	<p class="done-steps-text">Wait for call</p>
</div> 
<!--
    END <ng-include src="'main-content.html'"></ng-include>
-->

    <ng-include src="'views/global/footer.html'"></ng-include>

 
    <data-js-lazy-load 
        js-lazy-load  
        src="js/main.js" >    
    </data-js-lazy-load> 
