<div class="personal-page-main-container container clearfix">
	<div class="pp-blocks-container">
		<div class="pp-block">
			<h2 class="pp-block-h">
				Personal Info
				<span class="personal-info-edit-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
			</h2>
			<ul class="personal-info-list clearfix">
				<li class="personal-info-item">
					<span class="personal-info-item-name">Name</span>
					<span class="personal-info-item-desc">Harry</span>
				</li>
				<li class="personal-info-item">
					<span class="personal-info-item-name">Last Name</span>
					<span class="personal-info-item-desc">Potter</span>
				</li>
				<li class="personal-info-item">
					<span class="personal-info-item-name">Phone</span>
					<span class="personal-info-item-desc">+32223-23-43-34</span>
				</li>
				<li class="personal-info-item">
					<span class="personal-info-item-name">Email</span>
					<span class="personal-info-item-desc">Hedwig@theowl.dead</span>
				</li>
				<li class="personal-info-item">
					<span class="personal-info-item-name">House Name</span>
					<span class="personal-info-item-desc">Hogwarts</span>
				</li>
			</ul>
		</div>
		<div class="pp-block">
			<h2 class="pp-block-h">Buy History</h2>
			<ul class="history-list">
				<li class="history-item history-item_h">
					<span class="history-item-num">Order Number</span>
					<span class="history-item-products">Product Name</span>
					<span class="history-item-status">Status</span>
				</li>
				<li class="history-item">
					<span class="history-item-num">333312</span>
					<span class="history-item-products">Oyster Perpetual - Boxed with Papers from 2009</span>
					<span class="history-item-status">Active</span>
				</li>
				<li class="history-item">
					<span class="history-item-num">333312</span>
					<span class="history-item-products">Oyster Perpetual - Boxed with Papers from 2009</span>
					<span class="history-item-status">Active</span>
				</li>
			</ul>
		</div>
		<div class="pp-block">
			<h2 class="pp-block-h">Sell History</h2>
			<ul class="history-list">
				<li class="history-item history-item_h">
					<span class="history-item-num">Order Number</span>
					<span class="history-item-products">Product Name</span>
					<span class="history-item-status">Status</span>
				</li>
				<li class="history-item">
					<span class="history-item-num">333312</span>
					<span class="history-item-products">Oyster Perpetual - Boxed with Papers from 2009</span>
					<span class="history-item-status">Active</span>
				</li>
				<li class="history-item">
					<span class="history-item-num">333312</span>
					<span class="history-item-products">Oyster Perpetual - Boxed with Papers from 2009</span>
					<span class="history-item-status">Active</span>
				</li>
			</ul>
		</div>
		<div class="pp-block">
			<h2 class="pp-block-h">Favorites</h2>
			<ul class="product-list standart-list">
			  <li class="product-list_item">
			    <div class="product-photo-container">
			      <img class="product-small-img" src="../../img/productSmall.jpg" alt="">
			    </div>
			    <div class="product-details product-details_little-list">
			      <span class="product-name">Oyster Perpetual - Boxed with Papers from <2009></2009></span>
			      <span class="product-price">$399,99</span>
			      <br>
			      <a href="" class="delete-from-cart-link">
			        <i class="fa fa-times" aria-hidden="true"></i>
			        Delete
			      </a>
			    </div>
			  </li>
			  <li class="product-list_item">
			    <div class="product-photo-container">
			      <img class="product-small-img" src="../../img/productSmall.jpg" alt="">
			    </div>
			    <div class="product-details product-details_little-list">
			      <span class="product-name">Oyster Perpetual - Boxed with Papers from <2009> </2009></span>
			      <span class="product-price">$399,99</span>
			      <br>
			      <a href="" class="delete-from-cart-link">
			        <i class="fa fa-times" aria-hidden="true"></i>
			        Delete
			      </a>
			    </div>
			  </li>
			</ul>
		</div>
		<button class="standart-btn log-out-btn">Log Out</button>
	</div>
</div>