<div class="cart-modal-container">
  <div class="cart-modal cart-modal_long">
    <div class="modal-close-btn"></div>
    <p class="modal-text">Personal info edit</p>


    <div class="default-text-field-container">
       <input class="text-field" type="text" id="reg-name" placeholder="Name">
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container">
       <input class="text-field" type="text" id="reg-last-name" placeholder="Last Name">
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container">
       <input class="text-field" type="text" id="reg-phone" placeholder="Phone">
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container">
       <input class="text-field" type="text" id="reg-email" placeholder="Email">
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container">
       <input class="text-field" type="text" id="reg-password" placeholder="Password">
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container">
       <input class="text-field" type="text" id="reg-re_password" placeholder="Retype Password">
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
	
	<div class="default-text-field-container">
	   <input class="text-field" type="text" id="ship-house" placeholder="House Name/Number">
	   <i class="success-icon fa fa-check" aria-hidden="true"></i>
	   <i class="error-icon fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="default-text-field-container">
	   <input class="text-field" type="text" id="ship-address_1" placeholder="Address 1">
	   <i class="success-icon fa fa-check" aria-hidden="true"></i>
	   <i class="error-icon fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="default-text-field-container">
	   <input class="text-field" type="text" id="ship-address_2" placeholder="Address 2">
	   <i class="success-icon fa fa-check" aria-hidden="true"></i>
	   <i class="error-icon fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="default-text-field-container">
	   <input class="text-field" type="text" id="ship-city" placeholder="Town/City">
	   <i class="success-icon fa fa-check" aria-hidden="true"></i>
	   <i class="error-icon fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="default-text-field-container">
	   <input class="text-field" type="text" id="ship-county" placeholder="County">
	   <i class="success-icon fa fa-check" aria-hidden="true"></i>
	   <i class="error-icon fa fa-times" aria-hidden="true"></i>
	</div>
	<div class="default-text-field-container">
	   <input class="text-field" type="text" id="ship-postcode" placeholder="Postcode">
	   <i class="success-icon fa fa-check" aria-hidden="true"></i>
	   <i class="error-icon fa fa-times" aria-hidden="true"></i>
	</div>
	<select class="standart-select" name="" id="" data-placeholder="Country">
	  <option value="">Example</option>
	  <option value="">Example</option>
	  <option value="">Example</option>
	  <option value="">Example</option>
	  <option value="">Example</option>
	  <option value="">Example</option>
	</select>

    <button class="secondary-btn modal-btn">Cancel</button>
    <button class="standart-btn modal-btn modal-btn_no-right-margin">Save</button>
  </div>
</div>