

    <div class="container-fluid landing-page-header landing-page-header_seller">
      <div class="container">

        <ng-include src="'views/global/header-elements.html'"></ng-include>
        <!--<ng-include src="'views/seller-landing/header-only-h3.html'"> -->
        </ng-include>

      </div>
    </div>

    <ng-include src="'views/seller-landing/seller-lp-main-content.html'">
    </ng-include>

    <ng-include src="'views/global/footer.html'"></ng-include>

  
    <data-js-lazy-load 
        js-lazy-load  
        src="js/main.js" >    
    </data-js-lazy-load>

