<!-- SELLER SCHEME BLOCK START -->

<div class="head-picture-block">
	<h2 class="head-picture-block-h">The best way to <i>sell</i> your watch</h2>
	<h3 class="head-picture-block-under-h">We will inspect your watch and offer more than a dealer, guaranteed.</h3>
	<a href="/seller-step/1" class="standart-btn seller-lp-link seller-lp-link_relative">Sell my Watch</a>
</div>

<div class="container-fluid seller-scheme-block">
  <div class="container">
    <p class="s-scheme-under-h">Simple and hassle free selling process</p>
    <div class="s-scheme-items-block clearfix">
      <div class="s-scheme-item s-scheme-item_arrow">
        <img src="../../img/s-scheme-icon-1.png" alt="" class="s-scheme-item-img">
        <br>
        <span class="s-scheme-item-name">Tell us about your watch</span>
        <br>
        <span class="s-scheme-item-details">It is free, convenient and takes less than 2 minutes</span>
      </div>
      <div class="s-scheme-item s-scheme-item_arrow">
        <img src="../../img/s-scheme-icon-2.png" alt="" class="s-scheme-item-img">
        <br>
        <span class="s-scheme-item-name">Schedule a free inspection</span>
        <br>
        <span class="s-scheme-item-details">A certified inspector will come to your preferred location to inspect your timepiece</span>
      </div>
      <div class="s-scheme-item">
        <img src="../../img/s-scheme-icon-3.png" alt="" class="s-scheme-item-img">
        <br>
        <span class="s-scheme-item-name">You get <br> a check</span>
        <br>
        <span class="s-scheme-item-details">When a buyer is found you will get the payment within 3 working days
</span>
      </div>
    </div>
    <a href="/seller-step/1" class="standart-btn seller-lp-link">Sell my Watch</a>
  </div>
</div> 
<!-- SELLER SCHEME BLOCK END -->

<!-- SELLERS REVIEW BLOCK START -->
<div class="container-fluid cust-rev-container seller-lp">
  <div class="container relative-for-counter">
    <h3 class="secondary-h hidden-on-mobile">What sellers are saying</h3>
	<h3 class="secondary-h hidden-on-desktop">Our reviews</h3>
    <div class="sell-rev-slider slider-little-nav" id="sell-rev-slider">
      <div class="sell-rev-item clearfix">
        <div class="sell-rev-img hidden-on-mobile"><img src="../../img/slp-rev-pic-1.jpg" alt="Customer Photo"></div>
        <p class="sell-rev-text">They came to my place to inspect and take pictures of my watch. The sale was fast: it took only ten days from the inspection. Highly recommended!
		<br>
        <span class="sell-rev-name">Jhon</span></p>
      </div>
      <div class="sell-rev-item clearfix">
        <div class="sell-rev-img hidden-on-mobile"><img src="../../img/slp-rev-pic-2.jpg" alt="Customer Photo"></div>
        <p class="sell-rev-text">The selling process was very easy and straightforward. The inspector was super nice and very professional.  I got the real market value in less than a week. Super efficient, recommended.<br>
        <span class="sell-rev-name">Robert</span></p>
      </div>
    </div>
    <div class="slider-counter hidden-on-desktop">
      <span class="current-rev currentItem"></span>
      /
      <span class="revs-count owlItems"></span></span>
    </div>
  </div>
</div>
<!-- SELLERS REVIEW BLOCK END -->

<!-- FACTS BLOCK START -->
<div class="container-fluid seller-facts-container">
  <div class="container">
  <h3 class="secondary-h hidden-on-mobile">You are in safe hands</h3>
    <div class="fact-item fact-item_4">
        <i class="fact-icon fa fa-envira" aria-hidden="true"></i>
        <span class="fact-h">Stress free</span>
        <p class="fact-text">Sit back, relax and let us take care of the entire selling process</p>
      </div>
      <div class="fact-item fact-item_6">
        <i class="fact-icon fa fa-usd" aria-hidden="true"></i>
        <span class="fact-h">Earn more</span>
        <p class="fact-text">We will beat the dealer’s quote, guaranteed</p>
      </div>
      <div class="fact-item fact-item_5">
        <i class="fact-icon fa fa-clock-o" aria-hidden="true"></i>
        <span class="fact-h">Save time</span>
        <p class="fact-text">We handle the listings, photography, and paperwork so you don't have to</p>
      </div>
  </div>
  <a href="/seller-step/1" class="standart-btn seller-lp-link">Sell my Watch</a>
</div>
<!-- FACTS BLOCK END -->

<!-- FAQ BLOCK START -->
<div class="container-fluid faq-block">
  <div class="container">
      <h3 class="secondary-h">Frequently Asked Questions</h3>
      <div class="faq-lines panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
        
		<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading10">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapseOne">
			          How long does it take to sell my watch on WatchR?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse10" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading10">
			      <div class="panel-body">
			        <p class="faq-details-text">
						There’s a great team of highly energised WatchRs working around the clock to find a buyer who loves your watch as much as you do.
						<br>
						While many factors affect when a watch sells, we try our best to make sure the sale happens at the soonest. On average our watches sell in 30 days.
					</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading11">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapseOne">
			          What happens at a WatchR inspection? Can you do it at my home? And do I need to be there?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading11">
			      <div class="panel-body">
			        <p class="faq-details-text">
						WatchR inspection is a 30 minutes comprehensive assessment of your watch.
						<br>
						We want to make the process as easy and hassle-free as possible, so we’ll come to you and inspect your watch wherever it is. You can feel free to attend as much or as little of the inspection as you please.
						<br>
						Our trained inspectors examine the aesthetic conditions, the mechanism, the box, the papers and cross check the reference numbers. If the inspection is a pass, they also take professional photos of your timepiece.
					</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading12">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapseOne">
			          Who are the WatchR inspectors, anyway?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse12" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading12">
			      <div class="panel-body">
			        <p class="faq-details-text">
						Just like we hand-pick all of our watches, we do the same for our amazing inspectors. All WatchR inspectors are certified, have formal technical training from accredited institutions and many years of experience in the field. They also undergo extensive screening procedures before coming on board.
					</p>
			      </div>
			    </div>
			  </div>
			  
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading13">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="true" aria-controls="collapseOne">
			          What happens after my watches passes the inspection?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse13" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading13">
			      <div class="panel-body">
			        <p class="faq-details-text">
						Congratulations! We are honored to have your vehicle as part of the WatchR family.
						<br>
						After your watch passes its inspection, we'll ask for you to confirm by email or phone that you'd like to sell your watch online with WatchR. As soon as we find a buyer, we will contact you to pick up your watch and arrange the ownership transfer.
					</p>
			      </div>
			    </div>
			  </div>
			  
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading14">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="true" aria-controls="collapseOne">
			          How do you price my watch?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse14" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading14">
			      <div class="panel-body">
			        <p class="faq-details-text">
						We pride ourselves on our data driven approach. This means that we analyze pricing from a variety of sources and our own model to determine the true market value of your watch.
						<br>
						We're certain our offers are higher than any dealer will give you for your timepiece. In fact, if a dealership gives you a written non-contingent offer that's higher than ours, we'll beat it!
					</p>
			      </div>
			    </div>
			  </div>
			  
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading15">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="true" aria-controls="collapseOne">
			          Are there any hidden fees?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse15" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading15">
			      <div class="panel-body">
			        <p class="faq-details-text">
						No. WatchR is completely free for sellers.
						<br>
						How do we cover our costs, you ask? Simple. WatchR takes a small markup on the transaction between sellers and buyers, which shows up as a difference between the price we offer to sellers and the price buyers pay. That’s it.
					</p>
			      </div>
			    </div>
			  </div>
			  
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading16">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="true" aria-controls="collapseOne">
			          What if I sell my watch, but the buyer returns it? 
			        </span>
			      </h4>
			    </div>
			    <div id="collapse16" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading16">
			      <div class="panel-body">
			        <p class="faq-details-text">
						Once the buyer reserves your watch online, we keep the money in a secured account for 7 days. If, at the end of it, the buyer does not return the item, we will transfer the money immediately net of our commission. 
						<br>
						If the buyer decides to return the item, WatchR proceed to another full check to make sure nothing has changed from the time of purchase. If the inspection is a pass, we will ship the watch back to you and refund the buyer. Otherwise, we reject the return and pay you immediately. For further information about returns, please check our Terms and Conditions. 
					</p>
			      </div>
			    </div>
			  </div>
			  
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading17">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="true" aria-controls="collapseOne">
			          What if I don’t have time to wait, but I still want to sell my watch?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse17" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading17">
			      <div class="panel-body">
			        <p class="faq-details-text">
						Depending on the circumstances we may purchase your watch outright after the inspection. 
						<br>
						Please get in touch to hear more about this service: hello@watchr.co.uk
					</p>
			      </div>
			    </div>
			  </div>
      </div>
    </div>
  </div>
<!-- FAQ BLOCK END -->