

<div class="cart-modal-container confirm-modal-container">
  <div class="cart-modal confirm-modal">
    <h4 class="confirm-modal-h">Thank you!</h4>
    <p class="comfirm-modal-p">We got your details. We will send you an email confirming your inspection shortly.</p>
    <span class="confirm-details-h">Here is the availability you selected:</span>
    <ul class="seller-confirm-details-list standart-list">
    	<li class="seller-confirm-details-item clearfix">
    		<span class="confirm-date">Tuesday 15th</span>
    		<span class="confirm-day-period">Early Morning</span>
    	</li>
    	<li class="seller-confirm-details-item clearfix">
    		<span class="confirm-date">Tuesday 15th</span>
    		<span class="confirm-day-period">Early Morning</span>
    	</li>
    	<li class="seller-confirm-details-item clearfix">
    		<span class="confirm-date">Tuesday 15th</span>
    		<span class="confirm-day-period">Early Morning</span>
    	</li>
    </ul>
    <button class="standart-btn">Great</button>
  </div>
</div>