<!-- WATCH SERVICE CONTENT -->

<div class="container-fluid ws-header-block">
	<div class="container">
		<h2 class="ws-header-block-h">High quality watch servicing</h2>
		<p class="ws-header-block-p">We offer a wide range of services for your timepiece. Get in touch for our experts to assist you.</p>
	</div>
</div>

<div class="ws-form-block">
  <div class="seller-step-1-fields_block container ws-radio-block">
    <div class="content-block clearfix">
      <div class="content-item">
          <input class="content-radio standart-radio" name="content" type="radio" id="content_only-box">
          <label class="content-radio-board sec-radio-label sec-radio-label_ws" for="content_only-box">
            <h2 class="ws-h">Repair</h2>
			Be it a defect in the watch mechanism or a scratch on the bezel - your watch will be promptly and professionally repaired.
          </label>
      </div>
      <div class="content-item">
          <input class="content-radio standart-radio" name="content" type="radio" id="content_only-cert">
          <label class="content-radio-board checked sec-radio-label sec-radio-label_ws" for="content_only-cert">
            <h2 class="ws-h">Revision</h2>
			Your watch should receive a thorough revision every five to seven years. This is not only important for impeccable functionality, but also for stable value retention.
          </label>
      </div>
      <div class="content-item">
          <input class="content-radio standart-radio" name="content" type="radio" id="content_box+cert">
          <label class="content-radio-board sec-radio-label sec-radio-label_ws" for="content_box+cert">
            <h2 class="ws-h">Polishing</h2>
			The casing is thoroughly cleaned, scratches are removed, making your watch shine in new light.
          </label>
      </div>
      <div class="content-item">
        <input class="content-radio standart-radio" name="content" type="radio" id="content_nothing">
          <label class="content-radio-board sec-radio-label sec-radio-label_ws" for="content_nothing">
            <h2 class="ws-h">Wristband Replacement</h2>
			The casing is thoroughly cleaned, scratches are removed, making your watch shine in new light
          </label>
      </div>
    </div>
  </div>

<div class="seller-step-1-fields container">
  <h2 class="ws-fields-h">Give us some information about the required services</h2>
  <div class="seller-step-1-fields_block clearfix">
    <div class="default-text-field-container seller-form-field_3-in-row">
       <input class="text-field" type="text" id="brand" required="required">
       <label class="text-field-placeholder" for="brand">
        Brand 
        <span class="red">*</span>
       </label>
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container seller-form-field_3-in-row">
       <input class="text-field" type="text" id="model" required="required">
       <label class="text-field-placeholder" for="model">
        Model 
        <span class="red">*</span></label>
       </label>
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container seller-form-field_3-in-row no-right-margin">
       <input class="text-field" type="number" id="reference" required="required">
       <label class="text-field-placeholder" for="reference">
        Reference
        <span class="red">*</span></label>
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>

    <div class="default-text-field-container seller-form-field_4-in-row">
       <input class="text-field" type="text" id="repair" required="required">
       <label class="text-field-placeholder" for="repair">
        Repair 
        <span class="red">*</span>
       </label>
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container seller-form-field_4-in-row">
       <input class="text-field" type="text" id="revision" required="required">
       <label class="text-field-placeholder" for="revision">
        Revision 
        <span class="red">*</span></label>
       </label>
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container seller-form-field_4-in-row">
       <input class="text-field" type="number" id="polishing" required="required">
       <label class="text-field-placeholder" for="polishing">
        Polishing
        <span class="red">*</span></label>
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container seller-form-field_4-in-row no-right-margin">
       <input class="text-field" type="number" id="wristband" required="required">
       <label class="text-field-placeholder" for="wristband">
        Wristband Replacement
        <span class="red">*</span></label>
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>

    <div class="default-text-field-container seller-form-field_3-in-row">
       <input class="text-field" type="text" id="name" required="required">
       <label class="text-field-placeholder" for="name">
        Name 
        <span class="red">*</span>
       </label>
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container seller-form-field_3-in-row">
       <input class="text-field" type="text" id="email" required="required">
       <label class="text-field-placeholder" for="email">
        Email 
        <span class="red">*</span></label>
       </label>
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="default-text-field-container seller-form-field_3-in-row no-right-margin">
       <input class="text-field" type="number" id="phone" required="required">
       <label class="text-field-placeholder" for="phone">
        Phone
        <span class="red">*</span></label>
       <i class="success-icon fa fa-check" aria-hidden="true"></i>
       <i class="error-icon fa fa-times" aria-hidden="true"></i>
    </div>
	
	<div class="ws-btn-container">
    	<button class="standart-btn ws-send-btn">Send Enquiry</button>
    </div>
  </div>

</div>
</div>


  <div class="ws-assist-block container-fluid">
    <div class="container">
      <h2 class="ws-assist-block-h">At WatchR, we are always happy to assist you with any questions you may have</h2>
      <button class="standart-btn ws-send-btn">Get in touch</button>
    </div>
  </div>



<!-- WATCH SERVICE CONTENT END -->