<!-- for scroll -->
<a id="startposition"></a>

<div class="bottom-header-part steps-scheme-fixed-container">
<div class="steps-scheme-fixed">
<div class="container">
  <h2 class="bottom-header-part_h bottom-header-part_h_white-on-mobile hidden-on-desktop">Watch Information</h2>
  <div class="step-container-fluid hidden-on-mobile">
   <div class="step-container_seller-page step-container container clearfix">
     <div 
ng-class="step == '1' || step == '2' || step == '3' ? ( step == '1' ? 'active-step' : 'active-step done' ) : ''"
     class="step-name">
       <h3 class="step-name_h hidden-on-mobile">Watch information</h3>
       <div class="circle circle_sp"><i class="circle_icon fa fa-check" aria-hidden="true"></i></div>
     </div>
     <div 
ng-class="step == '2' || step == '3'? ( step == '2' ? 'active-step' : 'active-step done' ) : ''"
     class="step-name step-name_central">
       <h3 class="step-name_h hidden-on-mobile">Personal details</h3>
       <div class="circle circle_sp circle_with-line"><i class="circle_icon fa fa-check" aria-hidden="true"  ></i></div>
     </div>
     <div 
ng-class="step == '3' ? 'active-step' : ''"
     class="step-name">
       <h3 class="step-name_h hidden-on-mobile">Book your inspection</h3>
       <div class="circle circle_sp circle_with-line"><i class="circle_icon fa fa-check" aria-hidden="true"  ></i></div>
     </div>
   </div>          
  </div>
</div>
</div>
</div>
