
<div class="cart-modal-container confirm-modal-container">
  <div class="cart-modal confirm-modal">
    <div class="modal-close-btn"></div>
    <h4 class="confirm-modal-h">Thank you!</h4>
    <p class="comfirm-modal-p comfirm-modal-p_withot-underline">We got your details. We will send you an email confirming your inspection shortly.</p>
    <div class="two-buttons-container clearfix">
        <button class="standart-btn two-buttons_left">Sell a Watch</button>
        <button class="standart-btn two-buttons_right">Shop More</button>
    </div>
  </div>
</div>