<!-- SELLER STEPS NEXT START -->
    <div class="seller-steps-nav container clearfix">
      <div class="steps-mini-scheme hidden-on-mobile">
         <div class="step-container-fluid">
           <div class="step-container_seller-page step-container clearfix">
             <span class="seller-mini-steps-text">
{{ step == '3' ? 'Step 3' : ( step == '2' ? 'Step 2' : 'Step 1') }}

             </span>
             <div 
ng-class="step == '1' || step == '2' || step == '3' ? ( step == '1' ? 'active-step' : 'active-step done' ) : ''"
             class="step-name step-name_mini">
               <div class="circle circle_sp"><i class="circle_icon fa fa-check" aria-hidden="true"></i></div>
             </div>
             <div
ng-class=" step == '2' || step == '3'? ( step == '2' ? 'active-step' : 'active-step done' ) : '' " 
              class="step-name step-name_central step-name_mini">
               <div class="circle circle_sp circle_with-line"><i class="circle_icon fa fa-check" aria-hidden="true"  ></i></div>
             </div>
             <div 
ng-class="step == '3' ? 'active-step done' : ''"
             class="step-name step-name_mini">
               <div class="circle circle_sp circle_with-line"><i class="circle_icon fa fa-check" aria-hidden="true"  ></i></div>
             </div>
           </div>          
        </div>
      </div>
      <button 
ng-if=" step == '2' "
ng-click="register_or_login_seller()"
      class="seller-steps-next-btn standart-btn seller-step-long-btn">
{{ $root.step2form == 2 ? 'Login and Book your Inspection' : 'Register and Book your Inspection' }}      
      </button>
      <button 
ng-if=" step != '2' "
ng-click="nextStep()"
      class="seller-steps-next-btn standart-btn">
{{ step != '3' ? 'Next' : 'Confirm' }}      
      </button>
      <!-- <button class="seller-steps-next-btn standart-btn">Confirm</button>-->
      
           <button 
ng-if=" step == '2' || step == '3' "
ng-click="backStep()"          
           class="seller-steps-back-btn secondary-btn">Back</button> 
           
    </div>
<!-- SELLER STEPS NEXT END -->