<div class="photo-block-container">
	<div class="container">
		<h2 class="photo-block-h">24/7 Customer Support</h2>
		<p class="photo-block-p">We want your experience to be totally stress-free when buying or selling with Beepi. If you have any questions, or just want to meet a friendly member of Team Beepi, you can reach us anytime!</p>
	</div>
</div>
<div class="faq-container">
	<div class="faq-nav-container" id="faq-nav-container">
		<ul class="faq-navigation standart-list nav" id="faq-nav" role="tablist">
			<li class="faq-nav-link_li"><a href="#faq-about-archor" class="faq-nav-link faq-nav-link_only-link">About</a></li>
			<li class="faq-nav-link_li"><a href="#faq-buy-archor" class="faq-nav-link faq-nav-link_only-link">Buy</a></li>
			<li class="faq-nav-link_li"><a href="#faq-sell-archor" class="faq-nav-link faq-nav-link_only-link">Sell</a></li>
			<li class="faq-nav-link_li"><a href="" class="faq-nav-link standart-btn">See Watches</a></li>
		</ul>
	</div>
	<div class="container">
		<div class="faq-about" id="faq-about-archor">
			<h3 class="contacts-h">What exactly is WatchR</h3>
			<p class="contacts-p">WatchR is a completely new way to buy and sell luxury watches online. We help buyers and sellers in a trusted, simple and secure environment. All WatchR watches must pass our comprehensive inspection process and become WatchR-Certified. They are then listed and made available to buyers. We’ve cut out the costs of a traditional dealership – no showy showrooms and no expensive salespeople. Because of that, we can pass along more value to our customers. Sellers are guaranteed payment in 30 days. And if you change your mind, you have ten days to return your watch for a full refund, according to our terms and conditions.</p>
		</div>
		<div class="faq-buy" id="faq-buy-archor">
			<h3 class="contacts-h">Buy?</h3>
			<div class="faq-lines panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          How long does it take to sell my watch on WatchR?
			        </span>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <h4 class="faq-secondary-h">Anim pariatur cliche reprehenderit, enim eiusmod high life?</h4>
			        <p class="faq-details-text">Accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          How long does it take to sell my watch on WatchR?
			        </span>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        <h4 class="faq-secondary-h">Anim pariatur cliche reprehenderit, enim eiusmod high life?</h4>
			        <p class="faq-details-text">Accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTree">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
			          How long does it take to sell my watch on WatchR?
			        </span>
			      </h4>
			    </div>
			    <div id="collapseTree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTree">
			      <div class="panel-body">
			        <h4 class="faq-secondary-h">Anim pariatur cliche reprehenderit, enim eiusmod high life?</h4>
			        <p class="faq-details-text">Accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

		<div class="faq-sell" id="faq-sell-archor">
			<h3 class="contacts-h">Sell?</h3>
			<div class="faq-lines panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          How long does it take to sell my watch on WatchR?
			        </span>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <h4 class="faq-secondary-h">Anim pariatur cliche reprehenderit, enim eiusmod high life?</h4>
			        <p class="faq-details-text">Accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          How long does it take to sell my watch on WatchR?
			        </span>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        <h4 class="faq-secondary-h">Anim pariatur cliche reprehenderit, enim eiusmod high life?</h4>
			        <p class="faq-details-text">Accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTree">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
			          How long does it take to sell my watch on WatchR?
			        </span>
			      </h4>
			    </div>
			    <div id="collapseTree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTree">
			      <div class="panel-body">
			        <h4 class="faq-secondary-h">Anim pariatur cliche reprehenderit, enim eiusmod high life?</h4>
			        <p class="faq-details-text">Accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="contacts-block">
 <div class="container contacts-block_inner-container">
	<h3 class="contacts-h">We'd love to chat!</h3>
	<p class="contacts-p">The Beepi support team is available anytime by email, live chat and phone.</p>
	<div class="contact-links-container clearfix">
		<a href="" class="contact-link">
			<span class="contact-circle">
				<i class="fa fa-comments" aria-hidden="true"></i>
			</span>
			<br>
			<span class="contact-label">Live Chat</span>
		</a>
		<a href="" class="contact-link">
			<span class="contact-circle">
				<i class="fa fa-phone" aria-hidden="true"></i>
			</span>
			<br>
			<span class="contact-label">911</span>
		</a>
		<a href="" class="contact-link">
			<span class="contact-circle">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
			</span>
			<br>
			<span class="contact-label">1@watchr.com</span>
		</a>
	</div>
 </div>
</div>

 <div class="faq-last-block">
 	<h3 class="contacts-h">We'd love to chat!</h3>
	<a href="" class="standart-btn go-to-faq-btn">See Watches</a>
 </div>