  
    <div class="main-header shopping-cart-header container-fluid">
      <ng-include src="'views/global/header-elements.html'"></ng-include>
<!--      <ng-include src="'views/global/header-breadcrumbs.html'"></ng-include> -->
    </div>
<div id="startposition" ></div>
<!--   
    START <ng-include src="'faq-main-content.html'"></ng-include>
-->
<div class="photo-block-container faq-page-top">
	<div class="container">
		<h2 class="photo-block-h">Frequently Asked Questions</h2>
		<p class="photo-block-p">Get all the answers you need right here.</p>
	</div>
</div>
<div class="faq-container">
	<div class="faq-nav-container" id="faq-nav-container">
		<ul class="faq-navigation standart-list nav" id="faq-nav" role="tablist">
			<li class="faq-nav-link_li"><a href="#faq-about-archor" class="faq-nav-link faq-nav-link_only-link">About</a></li>
			<li class="faq-nav-link_li"><a href="#faq-buy-archor" class="faq-nav-link faq-nav-link_only-link">Buy</a></li>
			<li class="faq-nav-link_li"><a href="#faq-sell-archor" class="faq-nav-link faq-nav-link_only-link">Sell</a></li>
			<li class="faq-nav-link_li"><a href="/search-page/all" class="faq-nav-link standart-btn">See Watches</a></li>
		</ul>
	</div>
	<div class="container">
		<div class="faq-about" id="faq-about-archor">
			<h3 class="contacts-h">What exactly is WatchR</h3>
			<p class="contacts-p">WatchR is a completely new way to buy and sell luxury watches online. We help buyers and sellers in a trusted, simple and secure environment. All WatchR watches must pass our comprehensive inspection process and become WatchR-Certified. They are then listed and made available to buyers. We’ve cut out the costs of a traditional dealership – no showy showrooms and no expensive salespeople. Because of that, we can pass along more value to our customers. Sellers are guaranteed payment in 30 days. And if you change your mind, you have ten days to return your watch for a full refund, according to our terms and conditions.</p>
		</div>
		<div class="faq-buy" id="faq-buy-archor">
			<h3 class="contacts-h">Buy?</h3>
			<div class="faq-lines panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
			
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading1">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapseOne">
			          Are you a dealer? 
			        </span>
			      </h4>
			    </div>
			    <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
			      <div class="panel-body">
			        <p class="faq-details-text">
					 WatchR is a totally new way to buy or sell a watch. We don't have sprawling showroom floors or armies of salespeople, and that means we can offer better prices to our customers. It also means that you can shop at your own pace from the comfort of your couch without any pressure.
					</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading2">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapseOne">
			          Can I trade in my old watch? 
			        </span>
			      </h4>
			    </div>
			    <div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
			      <div class="panel-body">
			        <p class="faq-details-text">
						Yes. WatchR absolutely accepts trade-ins. Please email us at: hello@watchr.co.uk or call us at: +44 (0) 7437 760954 to discuss your requirements.
					</p>
			      </div>
			    </div>
			  </div>
			  
			 <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading3">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapseOne">
			          Can I come see the watch?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading3">
			      <div class="panel-body">
			        <p class="faq-details-text">
						We want to build a watch-buying experience that’s better than the old one in every way, and that includes revolutionizing pre-purchase views. You’ll get to see your WatchR watch on the day of delivery to make sure you love it.
						<br>
						Plus, every WatchR watch comes with a seven-day return. That gives you seven full days to try your watch in your real life and fall in love with it. 
					</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading9">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapseOne">
			          How do I know I’m getting a quality watch?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse9" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading9">
			      <div class="panel-body">
			        <p class="faq-details-text">
						At WatchR, quality is at the center of everything we do. All WatchR watches must pass our rigorous inspection. If you see a watch for sale on WatchR, you can rest assured it’s 100% authentic. This means none of our watches are fakes or have mechanical issues. Along with every watch listing, we post our inspection results to show you exactly what condition the watch is in.
					</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading4">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapseOne">
			          How do I know I’m getting a good price? 
			        </span>
			      </h4>
			    </div>
			    <div id="collapse4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading4">
			      <div class="panel-body">
			        <p class="faq-details-text">
						At WatchR, we take a transparent, data driven approach to pricing. Gone are the days of negotiating in the dark. Through our cutting-edge pricing analysis, which takes into account a variety of sources including real time market data, we are able to ensure that WatchR watches are valued at what they are worth -- not what a salesperson can squeeze out of you. By skipping the fancy showrooms and expensive salespeople, we are able to pass along more savings to our customers, enabling us to offer you amazing prices.
					</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading5">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapseOne">
			          Is the price negotiable? 
			        </span>
			      </h4>
			    </div>
			    <div id="collapse5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading5">
			      <div class="panel-body">
			        <p class="faq-details-text">
						The WatchR price is haggle-free. We believe that negotiating prices is more likely to result in the buyer getting ripped off than in getting a great deal. Rather than fluffing up our prices so we can "discount" them when it's convenient, we offer a fantastic price for each and every WatchR watch.
					</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading6">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapseOne">
			          Does WatchR charge for delivery? 
			        </span>
			      </h4>
			    </div>
			    <div id="collapse6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading6">
			      <div class="panel-body">
			        <p class="faq-details-text">
						To make sure we can safely ship your watch to your home as quickly as possible, we add a small charge to your final price, which varies depending on the distance from the seller to the buyer. This will be clearly marked after you enter your delivery address during the checkout process.
					</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading7">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapseOne">
			          How long does it take to get the watch once I’ve paid?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse7" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading7">
			      <div class="panel-body">
			        <p class="faq-details-text">
						You can expect to receive your watch nine to twelve business days after you’ve reserved or purchased it.
						<br>
						During that time, we’re getting your watch ready for you -- that means a final check and a thorough detailing. 
					</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading8">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapseOne">
			          What if I’m not happy with the watch? Can I return it? 
			        </span>
			      </h4>
			    </div>
			    <div id="collapse8" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading8">
			      <div class="panel-body">
			        <p class="faq-details-text">
						Yes, if there is a valid reason among those listed on the Terms and Conditions, you can return it within 7 days from purchase. 
					</p>
			      </div>
			    </div>
			  </div>
			
		</div>
		</div>

		<div class="faq-sell" id="faq-sell-archor">
			<h3 class="contacts-h">Sell?</h3>
			<div class="faq-lines panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
			
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading10">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapseOne">
			          How long does it take to sell my watch on WatchR?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse10" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading10">
			      <div class="panel-body">
			        <p class="faq-details-text">
						There’s a great team of highly energised WatchRs working around the clock to find a buyer who loves your watch as much as you do.
						<br>
						While many factors affect when a watch sells, we try our best to make sure the sale happens at the soonest. On average our watches sell in 30 days.
					</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading11">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapseOne">
			          What happens at a WatchR inspection? Can you do it at my home? And do I need to be there?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading11">
			      <div class="panel-body">
			        <p class="faq-details-text">
						WatchR inspection is a 30 minutes comprehensive assessment of your watch.
						<br>
						We want to make the process as easy and hassle-free as possible, so we’ll come to you and inspect your watch wherever it is. You can feel free to attend as much or as little of the inspection as you please.
						<br>
						Our trained inspectors examine the aesthetic conditions, the mechanism, the box, the papers and cross check the reference numbers. If the inspection is a pass, they also take professional photos of your timepiece.
					</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading12">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapseOne">
			          Who are the WatchR inspectors, anyway?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse12" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading12">
			      <div class="panel-body">
			        <p class="faq-details-text">
						Just like we hand-pick all of our watches, we do the same for our amazing inspectors. All WatchR inspectors are certified, have formal technical training from accredited institutions and many years of experience in the field. They also undergo extensive screening procedures before coming on board.
					</p>
			      </div>
			    </div>
			  </div>
			  
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading13">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="true" aria-controls="collapseOne">
			          What happens after my watches passes the inspection?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse13" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading13">
			      <div class="panel-body">
			        <p class="faq-details-text">
						Congratulations! We are honored to have your vehicle as part of the WatchR family.
						<br>
						After your watch passes its inspection, we'll ask for you to confirm by email or phone that you'd like to sell your watch online with WatchR. As soon as we find a buyer, we will contact you to pick up your watch and arrange the ownership transfer.
					</p>
			      </div>
			    </div>
			  </div>
			  
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading14">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="true" aria-controls="collapseOne">
			          How do you price my watch?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse14" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading14">
			      <div class="panel-body">
			        <p class="faq-details-text">
						We pride ourselves on our data driven approach. This means that we analyze pricing from a variety of sources and our own model to determine the true market value of your watch.
						<br>
						We're certain our offers are higher than any dealer will give you for your timepiece. In fact, if a dealership gives you a written non-contingent offer that's higher than ours, we'll beat it!
					</p>
			      </div>
			    </div>
			  </div>
			  
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading15">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="true" aria-controls="collapseOne">
			          Are there any hidden fees?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse15" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading15">
			      <div class="panel-body">
			        <p class="faq-details-text">
						No. WatchR is completely free for sellers.
						<br>
						How do we cover our costs, you ask? Simple. WatchR takes a small markup on the transaction between sellers and buyers, which shows up as a difference between the price we offer to sellers and the price buyers pay. That’s it.
					</p>
			      </div>
			    </div>
			  </div>
			  
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading16">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="true" aria-controls="collapseOne">
			          What if I sell my watch, but the buyer returns it? 
			        </span>
			      </h4>
			    </div>
			    <div id="collapse16" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading16">
			      <div class="panel-body">
			        <p class="faq-details-text">
						Once the buyer reserves your watch online, we keep the money in a secured account for 7 days. If, at the end of it, the buyer does not return the item, we will transfer the money immediately net of our commission. 
						<br>
						If the buyer decides to return the item, WatchR proceed to another full check to make sure nothing has changed from the time of purchase. If the inspection is a pass, we will ship the watch back to you and refund the buyer. Otherwise, we reject the return and pay you immediately. For further information about returns, please check our Terms and Conditions. 
					</p>
			      </div>
			    </div>
			  </div>
			  
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading17">
			      <h4 class="panel-title">
			        <span class="faq-h status-arrows" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="true" aria-controls="collapseOne">
			          What if I don’t have time to wait, but I still want to sell my watch?
			        </span>
			      </h4>
			    </div>
			    <div id="collapse17" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading17">
			      <div class="panel-body">
			        <p class="faq-details-text">
						Depending on the circumstances we may purchase your watch outright after the inspection. 
						<br>
						Please get in touch to hear more about this service: hello@watchr.co.uk
					</p>
			      </div>
			    </div>
			  </div>
			 
			  
			 
			  
			</div>
		</div>
	</div>
</div>

<div class="contacts-block">
 <div class="container contacts-block_inner-container">
	<h3 class="contacts-h">We'd love to chat!</h3>
	<p class="contacts-p">The WatchR support team is available anytime by email, live chat and phone.</p>
	<div class="contact-links-container clearfix">
		<a href="" show-intercom-dir class="contact-link">
			<span class="contact-circle">
				<i class="fa fa-comments" aria-hidden="true"></i>
			</span>
			<br>
			<span class="contact-label">Live Chat</span>
		</a>
		<a href="callto:+44(0)7437760954" class="contact-link">
			<span class="contact-circle">
				<i class="fa fa-phone" aria-hidden="true"></i>
			</span>
			<br>
			<span class="contact-label">+44 (0) 7437 760 954</span>
		</a>
		<a href="mailto:hello@watchr.co.uk" class="contact-link">
			<span class="contact-circle">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
			</span>
			<br>
			<span class="contact-label">hello@watchr.co.uk</span>
		</a>
	</div>
 </div>
</div>

 <div class="faq-last-block">
 	<h3 class="contacts-h">Find Your Next Dream Watch</h3>
	<a href="/search-page/all" class="standart-btn go-to-faq-btn">See Watches</a>
 </div>
<!--   
    END <ng-include src="'faq-main-content.html'"></ng-include>
-->

    <ng-include src="'views/global/footer.html'"></ng-include>

    <data-js-lazy-load js-lazy-load  src="js/main.js" ></data-js-lazy-load>

    <data-scroll scroll-dir ></data-scroll>