<h1 class="main-h">21st century watch buying and selling</h1>
<p class="under-h-text">Hand-inspected, certified, pre-owned watches</p>
<div class="header-info-container clearfix hidden-on-mobile">
  <div class="header-info-block">
    <h2 class="info-block-h">Hassle-free watch <i class="grey-text">selling</i></h2>
    <div class="info-block-details info-block-details_sell">
      <span class="info-block-hover-text">Please hover the button below to see more details</span>
      <span class="hidden-info-detail">
        <i class="hidden-info-detail_icon grey-text fa fa-star-o" aria-hidden="true"></i>
        Register your watch online
      </span>
      <span class="hidden-info-detail">
        <i class="hidden-info-detail_icon grey-text fa fa-calendar" aria-hidden="true"></i>
        Schedule a free inspection
      </span>
      <span class="hidden-info-detail">
        <i class="hidden-info-detail_icon grey-text fa fa-shield" aria-hidden="true"></i>
        Keep your watch until it’s sold
      </span>
    </div>
    <a 
    href="/seller-landing" 
    class="standart-btn  standart-btn_dark">Sell your watch</a>
  </div>
  <div class="header-info-block header-info-block_buy">
    <h2 class="info-block-h">Safe watch  <i class="brown-text">buying</i></h2>
    <div class="info-block-details">
      <span class="info-block-hover-text">Please hover the button below to see more details</span>
      <span class="hidden-info-detail">
        <i class="hidden-info-detail_icon brown-text fa fa-diamond" aria-hidden="true"></i>
        Hand-inspected
      </span>
      <span class="hidden-info-detail">
        <i class="hidden-info-detail_icon brown-text fa fa-paper-plane-o" aria-hidden="true"></i>
        Home-delivered
      </span>
      <span class="hidden-info-detail">
        <i class="hidden-info-detail_icon brown-text fa fa-money" aria-hidden="true"></i>
        Guaranteed 
      </span>
    </div>
    <a 
    href="/search-page/all" 
    class="standart-btn">See watches</a>
  </div>
</div>